<?xml version="1.0"?>
 <launch>
     <!-- Nodo conexion rosserial arduino-->
    <node pkg="rosserial_python" type="serial_node.py" name="ROSARDUINO">
    <param name="port" value="/dev/ttyUSB2"/>
    </node>
    
    <!-- Nodo conexion teleop por joy-->
    <param name="joy_node/dev" value="/dev/input/js0"/>
    <node name="jn" pkg="joy" type="joy_node"/> 
    <node pkg="motion_plan" type="joy_sub_pub" name="teleop" output="screen"/>
  </launch>
