<?xml version="1.0"?>
 <launch>
     <!-- Nodo conexion U2D2-->
    <node pkg="motion_plan" type="U2D2" name="U2D2" output="screen">
    </node>
    
    <!-- Nodo conexion teleop por joy-->
    <param name="joy_node/dev" value="/dev/input/js0"/>
    <node name="jn" pkg="joy" type="joy_node"/> 
    <node pkg="motion_plan" type="joy_sub_pub" name="teleop" output="screen"/>
    
    <!-- Nodo de toma de desicion de sensores-->
    <node pkg="motion_plan" type="sensors_node" name="sensors_node" output="screen"/>
    
    <!-- Nodo de salida de datos-->
    <node pkg="motion_plan" type="datos" name="Datos" output="screen"/>
   
  </launch>
